[submodule "sh"]
	path = sh
	url = https://www.github.com/jauntyjocularjay/kwikgit
[submodule "enumjs"]
	path = enumjs
	url = https://www.github.com/jauntyjocularjay/enumjs
[submodule "ea"]
	path = ea
	url = https://github.com/jauntyjocularjay/EasyAccessorJS
